@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

* {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0px 0;
  box-sizing: border-box;
}

#fake {
  color: #2c2b2b;
}

.nav-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 30px;
  padding: 7px;
}


.nav-links {
  text-decoration: none;
  color: #969b9f;
  padding: 4px;
  font-size: 1.1rem;
  font-weight: 800;
}

.nav-links:hover {
  background: -webkit-linear-gradient(#df431d, #f78383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-style {
  color: #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  box-shadow: 0px 1px 2px grey
}


.home-wrap {
  display: flex;
  height: 93.3vh;
  background-color: black;
  justify-content: space-around;
  align-items: center;
}
.home-wrap h1 {
  line-height: 13rem;
  font-size: 13rem;
  background: -webkit-linear-gradient(#df431d, #f78383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.title-div-roadster {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-div-roadster h1 {
  background: -webkit-linear-gradient(#df431d, #f78383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
  margin-right: 90px;
}
.title-div-roadster p {
  margin-right: 20px;
}

.whole-roadster {
  background-color: #101110;
  color: rgb(215, 215, 215);
}

.roadster-info {
  display: flex;
  padding: 20px;
}

.roadster-distance-wrap {
  background-color: #101010;
  width: 100%;
  height: 100%;
  color: rgb(215, 215, 215);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scale-size {
display: grid;
grid-template-columns: auto 8fr auto;
background-color: rgb(14, 14, 14);
width: 100%;
}

#earth {
  background: linear-gradient(to top right, #0274c1 0%, #98bf25 100%);
  width: 110px;
  height: 110px;
  grid-column: 1/2;
  border-radius: 50%;
}
#mars {
  background: linear-gradient(to top left, #980000 0%, #996633 100%);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  grid-column: 4/5;
}
#roadster {
  align-self: center;
}

.roadster-info-title {
  background: -webkit-linear-gradient(#df431d, #f78383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.mission-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-form-inputs > input{
  display: flex;
  background-color: rgb(225, 225, 225);
  outline: none;  
  border: none;
  background-color: #101110;
  border-bottom: 2px solid rgb(57, 56, 56);
  height: 100px;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(215, 215, 215);
}
.mission-form > button {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  max-width: 150px;
  margin-top: 20px;
}
.checkdiv {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  color: rgb(159, 159, 159);
}

.mission-clear {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  max-width: 150px;
  margin-top: 20px;
}

.mission-wrapper {
  background-color: #101110;
}

.top-mission-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}


.top-mission-styles h1 {
  background: -webkit-linear-gradient(#df431d, #f78383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}

.mission-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.mission-name {
    background: -webkit-linear-gradient(#c73c19, #f78383);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.missionWrap {
  border: 1px solid rgb(65, 65, 65);
  padding: 17px;
  background-color: black;
  width: 850px;
  color: #a0a0a0;
  margin-bottom: '28px';
}

@media (max-width: 886px) {
  .missionWrap {
    width: 544px;
  }
}

@media (max-width: 450px) {
  .missionWrap {
    width: 375px;
  }
}


